/* for tablet */
@media screen and (max-width: 1280px) {
    header {
        padding: 0 50px;
      }
   .nav_bar{
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
   }
   .logo_name {
    font-size: 30px;
  }
  .logo img {
    width: 60px;
  }
  .social_nav {
    padding: 5px 10px;
    gap: 10px;
  }
  .social_nav .youtube, .tiktok{
    font-size: 20px;
}

/* banner responsive */
.banner {
    padding-right: 50px;
    flex-direction: column-reverse;
  }
  }

/* for mobile screen */
@media screen and (max-width: 767px) {
    header {
        padding: 0 10px;
      }
      .btn {
        padding: 12px 20px;
        border-radius: 35px;
        font-size: 16px;
      }
    .nav_item{
        flex-direction: column;
        gap: 10px;
       }
       .nav_item li {
        font-size: 15px;
      }

      /* banner responsive */

      .banner_content {
        width: 70%;
        padding: 50px;
      }
      .banner-img {
        width: 70%;
      }
      .banner_content h3 {
        font-size: 25px;
      }
      .banner_content h1 {
        font-size: 60px;
      }
      .banner-text {
        font-size: 16px;
      }
  }