* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
:root {
  --primary-color: #f948b2;
}
/* common css */
.btn {
  padding: 20px 40px;
  border-radius: 45px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
}
.btn:hover {
  background-color: #b73282;
}
.section-title {
  font-size: 45px;
  font-weight: 700;
}
.section-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-description {
  color: #534c64;
  font-size: 18px;
  line-height: 30px;
}

/* header */
header {
  padding: 0 150px;
}
.nav_bar,
.nav_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav_bar {
  padding: 35px 0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.logo_name {
  font-size: 40px;
  font-weight: 700;
}
.logo_G {
  color: var(--primary-color);
}
.logo img {
  width: 80px;
}
.nav_item li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  color: #3c354f;
}
.nav_item a {
  text-decoration: none;
}

.social_nav {
  padding: 15px 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  align-items: center;
  gap: 20px;
}
.social_nav .youtube,
.tiktok {
  font-size: 30px;
}
.youtube {
  color: red;
}
.nav_item a:hover {
  color: var(--primary-color);
}

/* banner section */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 80vh; */
  gap: 50px;
  padding-right: 150px;
}

.banner_content {
  width: 50%;
  background-image: url("./images/Group\ 14.png");
  background-size: cover;
  padding: 130px;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
}
.banner_content h3 {
  color: #0b0223;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner_content h1 {
  font-size: 90px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.banner-text p {
  margin: 8px 0;
}
.banner-text span {
  margin-right: 10px;
  color: var(--primary-color);
}
.banner-btn {
  margin: 35px 0;
  display: flex;
  gap: 10px;
}
.banner-btn2 {
  background-color: #4ec5f7;
}
.banner-btn2:hover {
  background-color: #3594bd;
}

/* gammer section */

.gammer-section {
  padding: 95px 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  display: flex;
  gap: 50px;
}
.gammer-img,
.gammer-content {
  width: 50%;
}
.gammer-img img {
  width: 100%;
}
.gammer-content {
  text-align: right;
}
.our-purpose {
  color: #534c64;
  font-size: 24px;
  margin-top: 20px;
}
.our-purpose-quat {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}
.gammer-desc{
  margin: 20px 0;
}


/* online games */
.online-games{
  text-align: center;
  margin: 100px 150px;
}
.online-games-cards{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.gamges-card-img{
  position: relative;
}

.gamges-card-img img{
  width: 100%;
  height: 100%;
}
.card-hover{
  /* background-color: red;
   */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
  border-radius: 18px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.gamges-card-img:hover .card-hover{
  display: flex;
}
.card-hover h2{
  font-size: 30px;
  color: var(--primary-color);
  margin-top: 10px;
}
.watch-icon{
  font-size: 40px;
  color: white;
}

